

#calculation-interface {
    margin-top: 5%;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-label input {
    width: auto;
    margin-right: 10px;
}

#summary h3 {
    color: #df5500;
    margin-bottom: 10px;
    text-align: center;
}
