
#kilometer-felder div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#kilometer-felder label {
    width: 120px;
    margin-right: 10px;
    text-align: left;
    color: #e0e0e0;
}

#kilometer-felder input {
    flex: 1;
    background-color: #333;
    color: #e0e0e0;
}
